<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>agents</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" id="favicon" type="image/x-icon">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2></h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
<!--            <th scope="col">#</th>-->
            <th scope="col">Agent</th>
            <th scope="col">Protocol</th>
            <th scope="col">Type</th>
            <th scope="col">Fail Counts</th>
            <th scope="col">Region</th>
            <th scope="col">Check Counts</th>
            <th scope="col">Last Time</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>

                <td>{{item.proxy}}</td>

                {% if item.https %}
                <td>HTTPS</td>
                {% else %}
                <td>HTTP</td>
                {% endif %}

                {% if item.anonymous %}
                <td>anonymous</td>
                {% else %}
                <td>transparent</td>
                {% endif %}

                <td>{{item.fail_count}}</td>

                {% if item.region == 'error' %}
                <td>未知</td>
                {% else %}
                <td>{{item.region}}</td>
                {% endif %}

                <td>{{item.check_count}}</td>
                <td>{{item.last_time}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>